# https://vuejs.org/v2/guide/installation.html#Compatibility-Note
# https://caniuse.com/es5
ie 10
edge 12
firefox 21
chrome 23
safari 6
opera 15
ios_saf 6
android 4.4
op_mob 46
and_chr 85
and_ff 79
and_uc 12.12
samsung 4
and_qq 10.4
baidu 7.12
kaios 2.5
